<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Pizza</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css"
	th:href="@{/static/shards.min.css}" />
</head>
<body>
	<div class="container my-5">
		<h1>Pizza varieties generator</h1>
		<table class="table">

			<tbody>
				<tr>
					<td><a th:href="@{available}" class="btn btn-success"><i
							class="fa fa-arrow-circle-o-left"></i>&nbsp;List of Available
							Pizzas</a></td>
				</tr>
				<tr>
					<td><a th:href="@{select}" class="btn btn-success"><i
							class="fa fa-arrow-circle-o-left"></i>&nbsp;Get varieties of
							pizzas based on maximum price</a></td>
				</tr>
				<tr>
					<td>
						<div>
							<h5>REST interface</h5>
							<ul class="list-group">
								<li class="list-group-item">Get List of Pizzas: <a href="/pizzas"
									class="badge badge-primary">GET
										http://localhost:8080/pizzas</a>(when running on localhost:8080)
								</li>
								<li  class="list-group-item">Update list of pizzas <span
									class="badge badge-secondary">PUT
										http://localhost:8080/pizzas</span>(when running on localhost:8080)
									
									<div class="card m-4">
										<div class="card-body">
											<h6>cURL example when running on localhost:8080 (linux):</h6>
											<pre>
curl --silent --request PUT 'localhost:8080/pizzas' \
--header 'Content-Type: application/json' \
--data-raw '[
    {
        "name": "Szupr\u00E9m - nagy m\u00E9ret",
        "price": 4490
    },
    {
        "name": "Texas - nagy m\u00E9ret",
        "price": 4490
    },
    {
        "name": "Margarita - nagy m\u00E9ret",
        "price": 3790
    }
]'
				</pre>
										</div>
									</div>
<div> </div>
									<div class="card m-4">
										<div class="card-body">
											<h6>cURL example when running on localhost:8080 (Windows):</h6>
											<pre>
curl --silent --location --request PUT "localhost:8080/pizzas" ^
--header "Content-Type: application/json" ^
--data-raw "[{\"name\": \"Szupr\u00E9m - nagy m\u00E9ret\",\"price\": 4490},{\"name\": \"Texas - nagy m\u00E9ret\",\"price\": 4490},{\"name\": \"Margarita - nagy m\u00E9ret\",\"price\": 3790}]"
				</pre>
										</div>
									</div>
<span></span>

								</li>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>


	</div>
</body>
</html>