<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Pizza</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../static/shards.min.css">
</head>
<body>

	<div th:switch="${candidateList.valid}" class="container my-5">
		<h2 th:case="false">
			No Varieties for <span
				th:text="${#numbers.formatDecimal(price,0,'COMMA',0,'POINT')}"></span> <span>HUF</span>!
		</h2>
		<div th:case="*" class="">
			<h2 class="mb-5">
				Pizza varieties for <span th:remove="tag"
					th:text="${#numbers.formatDecimal(price,0,'COMMA',0,'POINT')}"></span> <span>HUF</span>
			</h2>
			<div class="col">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Price</th>
							<th>Variety</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="candidate: ${candidateList.listOfVarieties}">
							<td><span th:remove="tag"
								th:text="${#numbers.formatDecimal(candidate.price,0,'COMMA',0,'POINT')}"></span><span>&nbsp;HUF</span>
							</td>
							<td><span th:each="pizzaData: ${candidate.pizzaData}"
								class="badge mr-3 badge-outline-info"> <span
									th:remove="tag" th:text="${#numbers.formatDecimal(pizzaData.amount,0,'COMMA',0,'POINT')}"></span><span>x</span>
									<span th:remove="tag" th:text="${pizzaData.pizza.name}"></span>
									<span th:remove="tag"
									th:text="${#numbers.formatDecimal(pizzaData.pizza.price,0,'COMMA',0,'POINT')}"></span>
									<span>HUF</span>
							</span></td>
						</tr>
					</tbody>
				</table>
			</div>
			<small> <span>Cases examined: </span><span
				th:text="${#numbers.formatDecimal(candidateList.casesExamined,0,'COMMA',0,'POINT')}"></span>
				<span>( </span> <span
				th:text="${candidateList.getBacktrackDuration.toSecondsPart()}"></span><span>
					seconds</span> <span
				th:text="${candidateList.getBacktrackDuration.toMillisPart()}"></span><span>
					millis</span> <span
				th:text="${candidateList.getBacktrackDuration.toNanosPart() - candidateList.getBacktrackDuration.toMillisPart() * 1000000}"></span><span>
					nanos</span> <span> )</span>
			</small>
		</div>
		<a th:href="@{index}" class="btn btn-success"><i
			class="fa fa-arrow-circle-o-left"></i>&nbsp;Back to Index</a>
	</div>



</body>
</html>